@font-face {
	font-family: 'cards';
	src: url('../fonts/suit-regular.ttf');
}

* {
	font-family: 'Work Sans', sans-serif;
}

html {
	margin: 0;
	padding: 0;
}

body {
	background-image: url('../img/wood-bg.jpg');
	background-size: 1400px 1000px;
	color: white;
	font-size: 16px;
	margin: 0;
	padding: 0;
	/*display: flex;*/
}
 
#mobile * {
	display: none;
}
header {
	height: 4em;
    background: rgba(40,40,40,0.6);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1
}
h1 {
	/*margin: 0 auto;*/
	text-align: center;
	margin-top: 0.35em;
}

h2 {
	font-size: 1.3em;
	font-weight: 700;
	text-decoration: underline;

}
#message-center {
	background-color: white;
	color: black;
	text-shadow: 0 2px 0 #d3d3d3;
	height: 458px;
	width: 30%;
/*	left: 20px;
	top: 100px;*/
	text-align: left;
	margin-left: 10px;
	margin-top: 7%	;
	/*padding: 1em;*/
	/*overflow: hidden;*/
	/*margin-left: 5px;*/
}
p {
	display: inline-block;
}

#place-bet-buttons {
	display: inline-block;
}

#message-center * {
	margin-left: 7px;
}

#alert-container {
	width: 94%;
	height: 47%;
	background-color: gray;
	text-shadow: none;
	/*float: top;*/
	margin: auto;
	border: 1px solid rgba(10,10,10,0.8);
	position: relative;
	/*overflow: hidden;*/
}

#alert-center {
	width: 94%;
	height: 75%;
	background-color: rgba(20,20,20,0.5);
	color: white;
	text-shadow: none;
	/*float: top;*/
	margin: 0 auto;
	border: 1px solid rgba(10,10,10,0.8);
	position: relative;
	/*overflow: hidden;*/
}

h3 {
	text-align: center;
	color: white;
	font-size: 22px;
	font-weight: 300;
	text-decoration: underline;
	margin: 0 auto;
	margin-top: 2px;
	margin-bottom: 2px;
}

.dynamic-numbers {
	text-align: right;
	display: inline-block;

}

#dealer-hand {
	width: 62%;
	float: right;
	padding: 1em;
	display: inline-block;
	text-align: center;
	box-sizing: border-box;
/*	margin-top: 2em;
	margin-right: 2em;*/
}

#player-hand {
	width: 62%;
	float: right;
	padding: 1em;
	display: inline-block;
	text-align: center;
	box-sizing: border-box;
/*	margin-top: 2em;
	margin-right: 2em;*/
}

#deal-cards {
	width: 3.7em;
	height: 3.7em;
	background-color: white;
	border: 2px solid rgba(10,10,10,0.5);
	display: inline-block;
}

.action {
	display: inline-block;
	width: 3.8em;
	height: 3.8em;
	background-color: white;
	border: 2px solid rgba(10,10,10,0.5);
	margin-top: 5em;
	position: relative;
}

#game-counter {
	display: inline-block;
	margin-top: 5px;
}

#game-counter span  {
	background-color: rgba(140,220,200,0.4);
	text-align: right;
}

#bottom {
	left:1em;
	margin: 0 auto;
    position:relative;
    z-index:150;
    position:absolute;
    top:29em;
    height:5px;
    color: black;
    text-align: center;
    line-height: 1.6em;
    /*width: 80%;*/
    /*align-self: center;*/
}

.card {
    width: 6em;
    height: 7.5em;
    margin-right: -1.5em;
    margin-left: -0.5em;
    padding: 0.2em;
    background-color: white;
    display: inline-block;
    position: relative;
    text-align: left;
    font-family: 'cards';
	font-style: normal;
    border: 3.5px solid rgba(10,10,10,0.5);
    border-radius: 0.5em;
    color: black;
}

.bet {
	background-color: rgba(40,40,40,0.8);
	color: white;
	width: 3.6em;
	height: 2.5em;
	border-radius: 20px;
	box-shadow: -3px 5px 10px #888888
}

.bet:hover {
	background-color: rgba(230,230,230,0.8);
	color: black;
}

/*#new-card {
	width: 6em;
    height: 7.5em;
    margin-right: -1.5em;
    margin-left: -0.5em;
    padding: 0.2em;
    background-color: white;
    display: inline-block;
    position: relative;
    text-align: left;
    font-family: 'cards';
	font-style: normal;
    border: 3.5px solid rgba(10,10,10,0.5);
    border-radius: 0.5em;
    color: black;
}*/

#dealer-current-card {
/*	width: 150px;
	height: 200px;
	background-color: white;
	margin: 0 auto;
	margin-top: -8.3em;
	margin-left: 20em;
	margin-bottom: -4em;

	color: black;
	display: inline-block;
	font-size: 2em;*/
}

#player-current-card {
/*	width: 150px;
	height: 200px;
	background-color: white;
	margin: 0 auto;
	margin-top: -8.3em;
	margin-right: 4em;
	margin-bottom: -4em;
	border: 3.5px solid rgba(10,10,10,0.5);
	font-family: 'cards';
	font-style: normal;
	color: black;*/
}

.Spades {
	background-image: url(../img/spade.svg);
	background-size: 100% 100%;
}

.Hearts {
	background-image: url(../img/heart.svg);
	background-size: 100% 100%;
}
.Clubs {
	background-image: url(../img/club.svg);
	background-size: 100% 100%;
}
.Diamonds {
	background-image: url(../img/diamond.svg);
	background-size: 100% 100%;
}

.face-down-card {
    width: 6em;
    height: 7.5em;
    margin-right: -1.5em;
    margin-left: 0.2em;
    padding: 0.2em;
    background-image: url('../img/blue-card-back.jpg');
    background-size: 100%;
    display: inline-block;
    position: relative;
    text-align: left;
    font-family: 'cards';
	font-style: normal;
    border: 3.5px solid rgba(255,255,255,0.9);
    border-radius: 0.5em;
    color: white;
}

@media (max-width: 640px) {
	* {
		background-color: black;
/*		display: none;	*/
	}
	body {
		background-color: black;
	}

	#mobile * {
	display: block;
	margin: 0 auto;
	}
	#frown {
 	max-width: 100%;
 	/*padding: 10px;*/
 	}

 	#frownDiv {
 		width: 80%;
 	}
 	#mobile h1 {
 		margin: 10px;
 	}
 	#mobile p {
 		margin: 20px;
 	}

 	#mobile input {
 		padding: 10px;
 	}
	header {
		display: none;
	}
	#message-center {
		display: none;
	}
	#hit-me {
		display: none;
	}
	#deal-cards {
		display: none;
	}
	#stand {
		display: none;
	}

	.card {
		display: none;
	}
}